<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <header class="site-header">
    <div class="container">
      {% include site-nav.html %}

      {% if paginator %}
        <h1 class="site-title">
          <a href="{{ site.baseurl }}/">{{ site.title | xml_escape }}</a>
        </h1>
      {% else %}
        <div class="site-title">
          <a href="{{ site.baseurl }}/">{{ site.title | xml_escape }}</a>
        </div>
      {% endif %}

      {% if site.tagline and paginator %}
        <div class="site-tagline">
          {{ site.tagline }}
        </div>
      {% endif %}
    </div>
  </header>

  <main class="container">
    {{ content }}
  </main>

  <footer class="site-footer">
    <div class="container">
      {% include footer-links.html %}
      © {{ site.time | date: "%Y" }} {{ site.title | xml_escape }}
    </div>
  </footer>

  <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js"></script>
  <script>
    (function ($) {
      var $siteNav = $('.site-nav');
      var $siteNavToggle = $('.site-nav-toggle');

      $siteNavToggle.click(function () {
        $siteNav.toggleClass('is-toggled');
      });

      $('.post-content').fitVids();
    }(jQuery));
  </script>

</body>
</html>
